var config = {
    auth: "",
    room: "",
    Master: "",     //master programmer id for all functions override
    botOwner: "",   //owner of bot. 2nd highest level permissions
    userid: "",     //bot user.id value
};

module.exports = config;

