var config = {
    auth: "",
    room: "",
    Master: "",     //master programmer id for all functions override
    botOwner: "",   //owner of bot. 2nd highest level permissions
    userid: "",     //bot user.id value
	botName: 'unnamed bot',
    botGreetings: ['/', 'bot ', 'bot', 'j'],
    botCall: 'j',
    openDate: 'XX/XX/XX',
    roomTheme: 'Welcome to the room', //only echoed out in commands, no functionality
    startTime: new Date(),
    usedb: true,
    dbhost: 'localhost',
    dbname: 'dbname goes here',
    dbusername: 'username to use goes here',
    dbpassword: 'password for username goes here',
    dbprefix: 'db schema goes here',
    pgreets: true,
    afkCheck: false,
    afkMin: 15, //default value for afk checking
    songTimer: false,
    songLimit: 8, //minutes
    songCheck: false,
    deckPlays: 5,
    danceMode: true,
    games: true,
    sexy: true,
    autobop: false,
};

module.exports = config;

